.img-size{
  width: 300px;
  height: auto;
}
.strong{
  font-weight: 800;
  
}
.name-heading{
  font-weight: 800;
  text-transform: capitalize;
}
.mt20{
  margin-top: 20px;
}
.margin-none{
  margin: 0px;
}
.fs13{
  font-size: 13px;
}
.text-left{
  text-align: left;
}
.container{
  margin-top: 20px;
  padding: 10px;
}
.interests-heading{
  text-align: center;
}
h2,h3{
  color:blue;
  text-align: center;
}
p{
  text-align: left;
}